<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<body>

<table width="775" border="0" cellspacing="0" cellpadding="0" class="m-shell">
    <tbody><tr>
        <td class="td" style="width:775px; min-width:775px; font-size:0pt; line-height:0pt; padding:0; margin:0; font-weight:normal;">
            <table width="100%" border="0" cellspacing="0" cellpadding="0">

                <tbody><tr>
                    <td class="p-80 mpy-35 mpx-15" bgcolor="#212429" style="padding: 80px;">
                        <table width="100%" border="0" cellspacing="0" cellpadding="0">


                            <tbody><tr>
                                <td class="img pb-45" style="font-size:0pt; line-height:0pt; text-align:left; padding-bottom: 45px;">
                                    <img src="https://store.cloudflare.steamstatic.com/public/shared/images/email/logo.png" width="615" height="88" border="0" alt="gteam">

                                </td>
                            </tr>



                            <tr>
                                <td>




                                    <table width="100%" border="0" cellspacing="0" cellpadding="0">
                                        <tbody><tr>
                                            <td class="title-36 pb-30 c-grey6 fw-b" style="font-size:36px; line-height:42px; font-family:'Motiva Sans', Helvetica, Arial, sans-serif; text-align:left; padding-bottom: 30px; color:#bfbfbf; font-weight:bold;">您好：</td>
                                        </tr>
                                        </tbody></table>



                                    <table width="100%" border="0" cellspacing="0" cellpadding="0">
                                        <tbody><tr>
                                            <td class="title-28 c-white pb-30" style="font-size:28px; line-height:36px; font-family:'Motiva Sans', Helvetica, Arial, sans-serif; text-align:left; color:#ffffff; padding-bottom: 30px;">
                                                <strong>下方是您的电子邮件验证码，请在注册页面输入以继续创建您的新 gteam 帐户。</strong>
                                            </td>
                                        </tr>
                                        </tbody></table>



                                    <table width="100%" border="0" cellspacing="0" cellpadding="0">
                                        <tbody><tr>
                                            <td class="pb-20" style="padding-bottom: 20px;">
                                                <table width="100%" border="0" cellspacing="0" cellpadding="0" bgcolor="#17191c">
                                                    <tbody><tr>
                                                        <td class="py-35 px-56 mpx-20" align="center" style="padding-top: 35px; padding-bottom: 35px; padding-left: 56px; padding-right: 56px;">
                                                            <table width="400" border="0" cellspacing="0" cellpadding="0" class="mw-auto">
                                                                <tbody><tr>
                                                                    <td class="btn-18 c-grey4 l-grey4 tt-u" bgcolor="#235ecf" style="font-size:18px; line-height:22px; mso-padding-alt:14px 35px; font-family:'Motiva Sans', Helvetica, Arial, sans-serif; text-align:center; border-radius:5px; letter-spacing:1px; background:linear-gradient(90deg, #3A9BED 0%, #235ECF 100%); color:#f1f1f1; text-transform:uppercase;">
                                                                        <a href="" target="_blank" class="link c-grey4" style="display: block; padding: 13px 35px; text-decoration:none; color:#f1f1f1;">
                                                                            <span class="link c-grey4" style="text-decoration:none; color:#f1f1f1;">验证码是<span th:text="${code}"></span></span>
                                                                        </a>
                                                                    </td>
                                                                </tr>
                                                                </tbody></table>
                                                        </td>
                                                    </tr>
                                                    </tbody></table>
                                            </td>
                                        </tr>
                                        </tbody></table>



                                    <table width="100%" border="0" cellspacing="0" cellpadding="0">
                                        <tbody><tr>
                                            <td class="text-18 c-grey4 pb-30" style="font-size:18px; line-height:25px; font-family:'Motiva Sans', Helvetica, Arial, sans-serif; text-align:left; color:#dbdbdb; padding-bottom: 30px;">您需要向 gteam 提供一个验证过的电子邮件地址来使用 gteam 的完整功能，诸如 gteam 令牌、gteam 社区市场、gteam 交易 - 以及在未来能够安全的找回您的帐户。</td>
                                        </tr>
                                        </tbody></table>



                                    <table width="100%" border="0" cellspacing="0" cellpadding="0">
                                        <tbody><tr>
                                            <td class="text-18 c-grey4 pb-30" style="font-size:18px; line-height:25px; font-family:'Motiva Sans', Helvetica, Arial, sans-serif; text-align:left; color:#dbdbdb; padding-bottom: 30px;">*若您最近并未使用本电子邮件地址新建 gteam 帐户，您可以放心地忽略此邮件。</td>
                                        </tr>
                                        </tbody></table>





                                    <table width="100%" border="0" cellspacing="0" cellpadding="0">
                                        <tbody><tr>
                                            <td class="pt-30" style="padding-top: 30px;">
                                                <table width="100%" border="0" cellspacing="0" cellpadding="0">
                                                    <tbody><tr>
                                                        <td class="img" width="3" bgcolor="#3a9aed" style="font-size:0pt; line-height:0pt; text-align:left;"></td>
                                                        <td class="img" width="37" style="font-size:0pt; line-height:0pt; text-align:left;"></td>
                                                        <td>
                                                            <table width="100%" border="0" cellspacing="0" cellpadding="0">
                                                                <tbody><tr>
                                                                    <td class="text-16 py-20 c-grey4 fallback-font" style="font-size:16px; line-height:22px; font-family:'Motiva Sans', Helvetica, Arial, sans-serif; text-align:left; padding-top: 20px; padding-bottom: 20px; color:#f1f1f1;">
                                                                        祝您愉快，<br>
                                                                        gteam团队                                                                                    </td>
                                                                </tr>
                                                                </tbody></table>
                                                        </td>
                                                    </tr>
                                                    </tbody></table>
                                            </td>
                                        </tr>
                                        </tbody></table>


                                </td>
                            </tr>

                            </tbody></table>
                    </td>
                </tr>



                <tr>
                    <td class="py-60 px-90 mpy-40 mpx-15" style="padding-top: 60px; padding-bottom: 60px; padding-left: 90px; padding-right: 90px;">
                        <table width="100%" border="0" cellspacing="0" cellpadding="0">

                            <tbody><tr>
                                <td class="text-18 pb-60 mpb-40 fallback-font" style="font-size:18px; line-height:25px; color:#000001; font-family:'Motiva Sans', Helvetica, Arial, sans-serif; text-align:left; padding-bottom: 60px;">
                                    此通知已发送至与您的 gteam 帐户关联的电子邮件地址。                                                    <br><br>
                                    这封电子邮件由系统自动生成，请勿回复。如果您需要额外帮助，请访问 gteam 客服。                                                </td>
                            </tr>






                            <tr>
                                <td class="pb-50" style="padding-bottom: 50px;">
                                    <table width="100%" border="0" cellspacing="0" cellpadding="0">
                                        <tbody><tr>
                                            <th class="column" width="270" valign="top" style="font-size:0pt; line-height:0pt; padding:0; margin:0; font-weight:normal; vertical-align:top;">
                                                <table width="100%" border="0" cellspacing="0" cellpadding="0">
                                                    <tbody><tr>
                                                        <td class="img mpt-0" style="font-size:0pt; line-height:0pt; text-align:left;">
                                                            <img src="https://store.cloudflare.steamstatic.com/public/shared/images/email/logo_footer.png" width="165" height="50" border="0" alt="">
                                                        </td>
                                                    </tr>
                                                    </tbody></table>
                                            </th>
                                            <th class="column-top mpb-40" width="15" style="font-size:0pt; line-height:0pt; padding:0; margin:0; font-weight:normal; vertical-align:top;"></th>
                                            <th class="column" style="font-size:0pt; line-height:0pt; padding:0; margin:0; font-weight:normal;">
                                                <table width="100%" border="0" cellspacing="0" cellpadding="0">
                                                    <tbody><tr>
                                                        <td class="text-12 fallback-font" style="font-size:12px; line-height:18px; color:#000001; font-family:'Motiva Sans', Helvetica, Arial, sans-serif; text-align:left;">
                                                            若要下载 gteam 桌面客户端并进一步了解 gteam，请访问“关于gteam”。                                                                                        <br><br>

                                                        </td>
                                                    </tr>
                                                    </tbody></table>
                                            </th>
                                        </tr>
                                        </tbody></table>
                                </td>
                            </tr>




                            <tr>
                                <td>
                                    <table width="100%" border="0" cellspacing="0" cellpadding="0">
                                        <tbody><tr>
                                            <th class="column-top" valign="top" width="270" style="font-size:0pt; line-height:0pt; padding:0; margin:0; font-weight:normal; vertical-align:top;">
                                                <table width="100%" border="0" cellspacing="0" cellpadding="0">
                                                    <tbody><tr>
                                                        <td class="img" style="font-size:0pt; line-height:0pt; text-align:left;">
                                                            <img src="https://store.cloudflare.steamstatic.com/public/shared/images/email/logo_valve.jpg" width="165" height="48" border="0" alt="">
                                                        </td>
                                                    </tr>
                                                    </tbody></table>
                                            </th>
                                            <th class="column-top mpb-40" valign="top" width="15" style="font-size:0pt; line-height:0pt; padding:0; margin:0; font-weight:normal; vertical-align:top;"></th>
                                            <th class="column-top" valign="top" style="font-size:0pt; line-height:0pt; padding:0; margin:0; font-weight:normal; vertical-align:top;">
                                                <table width="100%" border="0" cellspacing="0" cellpadding="0">
                                                    <tbody><tr>
                                                        <td class="text-12 pb-30 fallback-font" style="font-size:12px; line-height:18px; color:#000001; font-family:'Motiva Sans', Helvetica, Arial, sans-serif; text-align:left; padding-bottom: 30px;">
                                                            <strong>© Valve Corporation</strong>
                                                            <br>
                                                            <strong>PO Box 1688 Bellevue, WA 98009</strong>
                                                            <br><br>
                                                            保留所有权利。所有商标均为其在美国及其他国家/地区的各自持有者所有。	                                                                                                                                                </td>
                                                    </tr>

                                                    </tbody></table>
                                            </th>
                                        </tr>
                                        </tbody></table>
                                </td>
                            </tr>
                            </tbody></table>
                    </td>
                </tr>

                </tbody></table>
        </td>
    </tr>
    </tbody></table>


</body>
</html>