<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.dao.OwngamesMapper">

    <!--将玩家id置入-->
    <insert id="addGame" parameterType="com.example.po.Owngames" >
        insert into owngames (userid,gameid,gamename,capsuleimage) values (#{userid},#{gameid},#{gamename},#{capsuleimage});
    </insert>

    <!--通过玩家id获取游戏库存列表-->
    <select id="findOwnGamesById" parameterType="Integer" resultType="com.example.po.Owngames">
        select * from owngames where userid=#{userid}
    </select>

    <!--通过玩家id和游戏id获取游戏库存信息-->
    <select id="findOwnGameById"  resultType="com.example.po.Owngames">
        select * from owngames where userid=#{userid} and gameid=#{gameid}
    </select>

</mapper>
